<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fabio Silva - Data Engineer</title>
  <meta name="description" content="fork github ritaly/HTML-CSS-CV-demo">
  <link rel="icon" href="./static/img/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="box">
        <div class="box" style="display: flex; justify-content: left;">
          <img src="./static/img/lakehouse.png" style="width: 125px;">
        </div>
        <div class="box" style="display: flex; justify-content: left;">
          <img src="./static/img/azure.png" style="width: 100px;">
        </div>
      </div>
      
      <div class="box">
        <img src="./static/img/avatar.jpg" style="width: 100px;">
        <h1>Fabio Silva</h1>
        </p>With 3+ years as Data Engineer and 5+ years in IT.</p>
        <a href="https://linkedin.com/in/data-engineer-fabio-silva" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/data-engineer-fabio-silva" target="_blank">
          <i class="fab fa-github-alt"></i>
        </a>
        <a href="https:wa.me/5514991729364" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="mailto:fabioos613@gmail.com">
          <i class="fa fa-at"></i>
        </a>
      </div>

      <div class="box" style="display: flex; justify-content: center; align-items: flex-end;">
        </p>"In God we trust; all others must bring data”. William Edwards Deming</p>
      </div>
      
    </div>
  </header>

  <main>
    <section>
      <h3>Main achievements</h3>
      <div class='job-title'>
        <article>
       
          <ul>
            <li>
              Worked on a project with global impact on Intel sales team as outsourcing employee.
            </li>
            <li>
              Creation a pipeline, architecture and codes to generate improvements in the fiscalization process on a federal company.           
            </li>
            <li>   
              Participation in a database migration, from MongoDB to AWS RDS Postgres.
            </li>
            <li>
              Creation a Row Level Security using SQL in Metabase.
            </li>
          </ul>
        </article>
      </div>
    </section>

    <section>
      <h3>Experience</h3>
      <div class='job-title'>

        <article>
          <strong>Company:</strong> 
          Intel<br>
          <strong>Period:</strong> 
          6 months<br>
          <strong>Position:</strong> 
          Data Engineer / Mid Level / Outsourced employee<br>
          <br>
          <strong>Company:</strong> 
          Luby - Software Consulting<br>  
          <strong>Period:</strong> 
          2 years 8 months<br>
          <strong>Position:</strong> 
          Data Engineer / Mid Level<br>
        </article>
      </div>
    </section>
    
    <section>
      <h3>Competences</h3>
      <h4>Main Skills</h4>
      <div class='skills'>
        <ul>
          <li>Python; Spark; SQL; AWS</li>
        </ul>
      </div>
      <h4>Worked Segments</h4>
      <div class='skills'>
        <ul>
          <li>Global IT Company; Lawyer Startup; Accounting; Lawyer/Fintech; Fintech Startup; Stock Broker; Online Betting</li>
        </ul>
      </div>
      <h4>Stack</h4>
      <div class='skills'>
        <ul>
          <li>Artificial Intelligence; AZ-900 and Databricks; AWS, Azure and GCP; Databricks Azure; SSAS - SQL Server Analytical Services; Programming languages: Python, SQL, Scala, C, C++, Java, PL/SQL, PowerShell and SAQL; Pentaho, Azure Data Factory and AWS Glue; Postgres, Sql Server, MySQL, Oracle and MongoDB;  AWS Redshift, GCP BigQuery, Snowflake and Dremio; Spark Python; Terraform; AWS S3, Azure Storage Account and GCP Cloud Storage; Insomnia; AWS EC2 and Contabo; Docker/Docker Compose; Airflow; AWS Athena and SQL; Github Actions and Copado; AWS IAM; Git, Github and Gitlab; Power BI, Metabase and Analytics Studio; Selenium Python; Imperative and Object-oriented; SCRUM and Kanban; Clickup, Jira and Trello</li>
        </ul>
      </div>
    </section>

    <section>
      <h3>Certifications</h3>
      <article>
        <div class='title'>
          <h4>Databricks Lakehouse Fundamentals</h4>
        </div>
      </article>
      <article>
        <div class='title'>
          <h4>Microsoft Certified: Azure Fundamentals</h4>
        </div>
      </article>
      
    </section>

    <section>
      <h3>Education</h3>
      <article>
        <div class='school'>
          <strong>M.Sc. Artificial Intelligence</strong>
        </div>
        <div class="descrition">
          Many Objective Optimization
        </div>
      </article>
      <br>
      <article>
        <div class='school'>
          <strong>B.S. Computer Engineering</strong>
        </div>
        <div>
          Internet of Thing and Automation
        </div>
      </article>
    </section>
  
    <section>     
      <h3>Languages</h3>
      <article>
        <div class='school'>
          <p>English - Advanced</p>
          <p>French - Basic</p>
          <p>Portuguese - Native speaker</p>
        </div>
      </article>
    </section>

  </main>
  <footer>
    <p>Last Updated: 10/24/2024 </p>
  </footer>
</body>
</html>